<%= render 'hero' %>

<div class="boxes d-flex">
  <div class="box small-card  seasonal-box">
    <h4>Mom Voyage seasonal box</h4>
    <small>
      For practical moms
    </small>
    <p>
      6 clothing items for the whole season (4 months)
      2 self-care items from local partnerships per box
    </p>
    <button class="button-primary">I want it</button>
  </div>
  <div class="box monthly-box">
    <h4>Stylish & Sustainable monthly box</h4>
    <small>
      For eco-conscious fashionistas
    </small>
    <p>
      2 clothing items per month
      1 self-care item from local partnerships per box
    </p>
    <button class="button-primary">I want it</button>
  </div>
  <div class="box small-card custom-box">
    <h4>Custom box</h4>
    <small>
      For practical moms
    </small>
    <p>
      6 clothing items for the whole season (4 months)
      2 self-care items from local partnerships per box
    </p>
    <button class="button-primary">I want it</button>
  </div>
</div>

<%= render 'steps' %>
<%= render 'newsletters/form', newsletter: Newsletter.new %>
<%= render 'about' %>

<%# <article> %>
  <%# <% cache(cache_key_for_products) do %>
    <%# <%= render 'products/products', products: @products %>
  <%# <% end %>
<%# </article> %>
